html{
	height: 100%;
}

.llogo{
	background-color: #2F3035;
	background-image: url(img/dinuguan.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100%;
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;
	filter: blur(2px);
	}



.container{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;

}


header{
		
		height: 118px;
		text-align: center;
		overflow: auto;
		
	}

nav{
		background-color: rgba(0,0,0,0.31);
		text-align: center;	
		padding-top: 14px;
		padding-bottom: 14px;
	}
nav a{
	color: white;
	text-decoration: none;
	font-size: 13px;
	padding-right: 10px;
	padding-left: 10px;
}
nav a:hover{
	color: rgba(255,255,255,.50);

}
nav a:last-child{
	margin-right: 0px;

}
main{
		
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 90px;
		padding-right: 90px;
		overflow: auto;
		background-color: rgba(0,0,0,0.31);
		margin-top: 20px;
		margin-bottom: 20px;
		display: flex;
		flex-direction: row;	
	}

.index{
		padding-top: 50px;
		padding-bottom: 50px;
		text-align: center;
		padding-left: 240px;
		padding-right: 240px;
		background-color: rgba(0,0,0,0.31);
		margin-top: 50px;
		

}
.index a{
	text-decoration: underline;
	color: white;   
	font-size: 30px;

}
footer{
	background-color: rgba(0,0,0,0.50);	
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
		
	}

h1{
	font-size: 84px;
	color: white;
	font-family: arial;

}

p{
	font-size: 18px;
	color: white;
	font-family: arial;
}

.ul{
	color: white;
	font-family: arial;
	text-decoration: underline;
}
.ul:hover{
	color: #E6E6E6;
}

.fl1{
	height: 40px;
	margin-right: 10px;
	transition: transform .2s;
}
footer h2{
	margin-bottom: 0px;
}

.fl1:hover{
	transform: scale(1.2);
}

.card-text{
	color: black;
}



.card-body{
	background-color: rgba(255,255,0,0.40);	
	height: 200px;
	
}


main div img{
	height: 200px;

}
.container1{
	display: flex;
	justify-content: flex-start;
}

.card{
	margin-right: 15px;
	color: none;
	
}



.card-text, .card-title{
	margin: auto;
}

section{
	padding-bottom: 100px;
	text-align: center;
	margin-top: 50px;
	
}

section h4{
	color: white;
	font-family: arial;
}


header img{
	 animation: rubberBand; 
 	 animation-duration: 2s; 
}
